@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap');
.text {
    font-weight: bold;
    font-size: 10rem;
    font-family: 'Kanit', sans-serif;
    animation: zoomOut 1s 5;
}

@keyframes zoomOut {
    0% {
        opacity: 0;
        font-size: 400;
    }
    100% {
        opacity: 1;
        font-size: 200;
    }
}
